*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #cacaca;
    width:175px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item{
    background-color: #ff0037;
    color: #fff;
    font-size: 35px;
    padding: 20px;
    margin: 10px;
    height: 100px;
    width: 100px;
    text-align: center ;
    border-radius: 16px;
}